@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaijaan+2:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700;800;900&display=swap");

:root {
  --nav-height: 56.45px;
}

* {
  box-sizing: border-box;
}

.page-vh {
  min-height: calc(100vh - var(--nav-height));
  /* background-color: rgb(247, 246, 255); */
}

.bg-spe-logo {
  background-color: #054a94;
}

.nav {
  z-index: 6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav-shadow {
  box-shadow: 0px -3px 10px 5px #2289f5;
}

.font-cairo {
  font-family: "Cairo", sans-serif;
}

.logout {
  padding: 8px;
  background-color: #fff;
  color: #00356c;
}

.logout:hover {
  padding: 8px;
  color: #fff;
  background-color: #00356c;
}
.nav-item .nav-link {
  color: #fff;
}

.nav-item .nav-link:hover {
  background-color: #fff;
  color: #00356c;
}

.nav-item .nav-link.active {
  background-color: #fff;
  color: #00356c;
}

.font-primary {
  /* font-family: "Lemonada", cursive; */
  font-family: "Baloo Bhaijaan 2", cursive;
  font-weight: 500;
}

.login-form {
  width: 400px;
  height: 450px;
  border-radius: 20px;
  direction: rtl;
  background-color: #fff;
  z-index: 6;
}

.profile-card {
  width: 400px;
  min-height: 500px;
  border-radius: 20px;
  position: relative;
  background-color: #fff;
}

.profile-card-top {
  width: 100%;
  height: 150px;
  background: rgb(9, 9, 110);
  background: linear-gradient(
    60deg,
    rgba(9, 9, 110, 1) 0%,
    rgba(0, 97, 196, 1) 50%
  );
  border-radius: inherit;
}

.profile-card-bottom {
  width: 100%;
  margin-top: 50px;
  border-radius: inherit;
}

.profile-card-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: 100px;
  left: 150px;
}

.border-shape-1 {
  width: 100px;
  height: 100px;
  background-color: #2289f5;
  border-radius: 50%;
  position: absolute;
  right: 30px;
  top: 10%;
  opacity: 0.4;
  z-index: 1;
  box-shadow: 4px 8px 13px 1px #000;
}

.border-shape-2 {
  width: 200px;
  height: 200px;
  background-color: #2289f5;
  border-radius: 50%;
  position: absolute;
  right: 10px;
  bottom: 2%;
  opacity: 0.2;
  z-index: 1;
  box-shadow: 4px 8px 13px 1px #000;
}

.border-shape-3 {
  width: 300px;
  height: 300px;
  background-color: #2289f5;
  border-radius: 50%;
  position: absolute;
  right: 50px;
  bottom: 40%;
  opacity: 0.3;
  z-index: 1;
  box-shadow: 4px 8px 13px 1px #000;
}

.border-shape-4 {
  width: 100px;
  height: 100px;
  background-color: #2289f5;
  border-radius: 50%;
  position: absolute;
  left: 30px;
  bottom: 10%;
  opacity: 0.4;
  z-index: 1;
  box-shadow: 4px 8px 13px 1px #000;
}

.border-shape-5 {
  width: 200px;
  height: 200px;
  background-color: #2289f5;
  border-radius: 50%;
  position: absolute;
  left: 10px;
  top: 2%;
  opacity: 0.2;
  z-index: 1;
  box-shadow: 4px 8px 13px 1px #000;
}

.border-shape-6 {
  width: 300px;
  height: 300px;
  background-color: #2289f5;
  border-radius: 50%;
  position: absolute;
  left: 50px;
  top: 40%;
  opacity: 0.3;
  z-index: 1;
  box-shadow: 4px 8px 13px 1px #000;
}

/* 404 component */
#notfound {
  position: relative;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  text-align: center;
  line-height: 1.4;
}

.notfound .notfound-404 {
  height: 190px;
}

.notfound .notfound-404 h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 146px;
  font-weight: 700;
  margin: 0px;
  color: #232323;
}

.notfound .notfound-404 h1 > span {
  display: inline-block;
  width: 120px;
  height: 120px;
  background-image: url("./../public/images/emoji.png");
  background-size: cover;
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
  z-index: -1;
}

.notfound h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin: 0;
  text-transform: uppercase;
  color: #232323;
}

.notfound p {
  font-family: "Montserrat", sans-serif;
  color: #787878;
  font-weight: 300;
}

.notfound a {
  font-family: "Montserrat", sans-serif;
  display: inline-block;
  padding: 12px 30px;
  font-weight: 700;
  background-color: #f99827;
  color: #fff;
  border-radius: 40px;
  text-decoration: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  opacity: 0.8;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    height: 115px;
  }
  .notfound .notfound-404 h1 {
    font-size: 86px;
  }
  .notfound .notfound-404 h1 > span {
    width: 86px;
    height: 86px;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media only screen and (max-width: 768px) {
  .bg-login-img img {
    display: none;
  }
}
